.add-todo input {
    width: 240px;
    height: 40px;
    padding: 0 10px;
    margin: 0 10px 20px 0;
    border-radius: 3px;
    border: 1px solid gray;
}

.add-todo input:focus {
    outline: none !important;
    border: 1px solid black;
}

.add-todo button {
    width: 100px;
    height: 40px;
    background-color: #53b953;
}

.add-todo button:hover {
    width: 100px;
    height: 40px;
    background-color: #00A400;
}